{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .formsss{
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
      .container {
        max-width: 400px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
      }
      
      .login-container h1 {
        margin-bottom: 20px;
      }
      
      .login-form input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      .login-form button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
      }
      
      .login-form button:hover {
        background-color: #0056b3;
      }
      
      .login-container p {
        margin-top: 10px;
      }
      
      .login-container a {
        color: #007bff;
        text-decoration: none;
      }
      
      .login-container a:hover {
        text-decoration: underline;
      }
      



</style>

<div class="formsss" >
<div class="container">

    <div class="login-container">
   
      <h1>ResetPassword</h1>
      {% include 'include/alert.html' %}
      <form  action="{% url 'resetpassword' %}"  method="POST" class="login-form">
        {% csrf_token %}
        <label>Create password</label>
        <input type="password" placeholder="create password" required  name="password">
        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm password" required  name="confirm_password">
   

        <button type="submit">Reset</button>
      </form>


{% endblock %}